@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans antialiased bg-white text-black leading-relaxed overflow-x-hidden;
  }

  #root {
    @apply min-h-screen;
  }
}
